/* MIXINS */

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* MIXINS */

/* VARIABLES */

/* VARIABLES */

/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

/* FONTS */
